:root {
    /* custom property */
    --blanco: #fff;
    /* Color primario en la paleta */
    --primario: #ffc107;
    /* Color secundario en la paleta */
    --secundario: #e63b35;
    --gris: #757575;
    --light-gray: #f4f5f5;
}

html {
    font-size: 62.5%; 
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: raleway,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.55;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    font-size: 1.5rem;
    text-transform: uppercase;
}
header h1{
    margin: 0;
    letter-spacing: .5rem;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    font-size: 2rem;
}

footer p{
    margin: 0;
}

/*Seccion de la imagen y contactoss*/

.background-image1 
{
    background-image: url(./mipapa.jpeg);
    background-repeat: no-repeat;
    background-size: cover;/* Ajusta el tamaño de la imagen al contenedor */
  /* Otros estilos opcionales */
    position: relative;
    width: 100%;
    height: 89vh;
}

.division  {
    display: flex;
    width: 100%;
    justify-content: center;
    height: auto;
}

.Servicios{
    flex:5;
    width: 100%;
    display: flex;
    
}
.form
{
    flex:5;
    width: 100%;
}

.division  h2 
{
    padding-left: 2rem;
}

.text1 
{
    font-size: 3rem;
    font-weight: bold;
}

.divisor3
{
    display: flex;
    justify-content: space-between;
}

.end {
    height: 100px;
    display: flex;
    align-content: flex-end;
}

.colorrojo {

    background-color:#524e4e;
    color: white;
}

.colorgris{
    background-color: var(--light-gray);
}

.background-image1 .contenedor {
    padding: 50px;
    color: var(--blanco);
    height: 100%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.3);
}

.contenedor5 {
    border: 10px solid #ff0000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    padding: 0rem 1rem 1rem 1rem;
    text-transform: uppercase;
}

.contenedor5 span {
    font-size: 4rem;
    font-weight: bold;
}

.contenedor6 {
    display: flex;
    flex-direction: column;
}

.font-height-large {
    font-size: 6rem;
    font-weight: bold;
    line-height: 1.15;
}

.font-height-middle {
    font-size: 4rem;
    font-weight: bold;
}

.font-height-small {
    font-size: 2rem;
    font-weight: bold;
}

.font-color-white{
    color: white;
}

.vertical-text {
    display: inline;
    margin: auto 1rem;
    writing-mode: vertical-rl;
    transform: scale(-1,-1);
    text-align: end;
    padding-bottom:2%;

}

.flex-direction-column {
    display: flex;
    flex-direction: column;
    line-height: 1.05;
}

.services p {
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.05;
    margin: 0;

}

.services h4 {
    margin: 0;
}

.services {
    margin: auto 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
}
.title-size {
    font-size: 42px;
}

.text-red{
    color: #ff4038;
    text-align: center;
    
    flex: 4;
    margin: auto;

}

.regular-text {
    letter-spacing: .02em;
    font-weight: 400;
    line-height: 2;
    font-size: 2rem;
    color: #888;
    width: 80%;
    margin: auto;
 
    flex: 6;
}

.about-us {
    padding: 3rem;
    display: flex;
    height: 100vh;
}

.formulario{
    background-color: var(--secundario);
    padding: 2rem;
    height: 100%;

}

.formulario fieldset {
    border: none;
    /*Quitarle el borde*/
}

.formulario legend {
    text-align: center;
    /*Centrarlo*/
    font-size: 1.8rem;
    /*Tamaño de la letra*/
    font-weight: bold;
    /*Negritas*/
    margin-bottom: 2rem;
    /*Margen inferior*/
    text-transform: uppercase;
    /*Que la prmera letra sea mayuscula*/
    color: var(--primario);
    /*Color*/
}

.campo {
    margin-bottom: 1rem;
    /*Margen inferior*/
}


.campo label {
    color: var(--blanco);
    /*El color*/
    font-weight: bold;
    /*Negritas*/
    margin-bottom: .5rem;
    /*Margen inferior*/
    display: block;
    /*Esto logra que el el label tome todo el espacio disponible y estar separado del input*/

}

.formulario .input-text,
.formulario textarea {
    width: 100%;
    border: none;
    /*Quitar el borde*/
    padding: 1.5rem;
    /*Espacio interior*/
    border-radius: .5rem;
    /*El radio*/

}

.campo textarea {
    height: 25rem;
    /*Hacer mas alta la altura del textarea*/
    margin-top: 2rem;

}

.campo {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;

}

fieldset{
    height: 100%;
}

.contenedor-campos{
    height: auto;
}

.inputs{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.campo input{
    border-radius: 1rem;
    width: 100%;
    padding: 1rem;
}

.campo label{
    width: 15rem;
}

.boton {
    background-color: var(--gris);
    /*color de fondo*/
    text-decoration: none;
    /*quitar el subrayado*/
    padding: 1rem 3rem;
    /*espacio interior*/
    border-radius: 0.5rem;
    /*esquinas redondeadas */
    color: var(--blanco);
    /*Color del texto */
    margin-top: 1rem;
    font-weight: bold;
    /*negritas*/
    font-size: 1.5rem;
    /*tamaño del texto*/
    text-transform: uppercase;
    /*poner mayusculas*/
    text-align: center;
    /*centrar texto*/
   
    border: none;
    /*Quitar el subrayado*/
    width: auto;
    
}

.flex{
    display: flex;
    justify-content: center;
}

.boton:hover {
    cursor: pointer;
    /*Hover cambia a una mano cuando se pasa encima*/
}



@media (max-width: 768px){

    /* manejo de la sección de la imágen */
    .background-image1 .contenedor{

        justify-content: space-between;
        
    }

    .background-image1{
        height: calc(100vh - 7rem);
    }

    .divisor3{
        flex-direction: column;
        height: 40%;
        justify-content: space-between;
        
    }

    .contenedor5{
        width: 40%;
        margin-bottom: 3rem;
    }

    /* manejo de la sección de about us */
    .about-us{
        flex-direction: column;
        height: 100%;
    }

    /* manejo de la sección de servicios y contacto */
    .division{
        display: inline;
    }

    .Servicios{
        height: 70vh;
    }
    
}


@media (max-width: 468px) {

    /* manejo de la sección de la imágen */
    .background-image1 .contenedor{
        padding: 2rem;
        justify-content: space-between;
        
    }

    .background-image1{
        height: 84vh;
    }

    .divisor3{
        flex-direction: column;
        height: 60%;
        justify-content: space-around;
        
    }

    .contenedor5{
        width: 100%;
        margin-bottom: 3rem;
    }

    .font-height-large{
        font-size: 3rem;
    }

    /* manejo de la sección de about us */
    .about-us{
        flex-direction: column;
        height: 100%;
    }
    .about-us .regular-text{
        width:100%;
        text-align: center;
    }

    /* manejo de sección de servicios */

    .division{
        display: inline;
    }

    .Servicios .vertical-text{
        writing-mode: horizontal-tb;
        transform: scale(1,1);
        text-align: center;
        padding: 0;
        margin: 0;
        margin-top: 1rem;
        
        
    }
   .Servicios{
        flex-direction: column;
        height:100vh;
    }

    .services_individuales h4{
        font-size: 2.6rem;

    }

    .services_individuales p{
        font-size: 2rem;
        padding: 1rem 2rem;
    }

    .services{
        padding: 2rem;
        margin: 0;
        height: 100%;
        justify-content: space-around;
        padding-top: 0;
    }


    /* manejo de sección de contactos */
    .campo, label{
        display: inline;
    }

    .boton{
        width: 100%;
        height: 4rem;
    }

    .formulario{
        margin: 0;
        padding: 0;
        padding-top: 2rem;
    }

    .formulario legend{
        margin-bottom: 0;
        font-size: 3rem;
    }
    .form{
        height: 100vh;
    }

    .contenedor-campos .inputs{
        height: 70%;
    }
    .campo textarea{
        height: auto;
    }

    .formulario fieldset{
        /*padding-bottom: 0;*/
    }
}

/*Otros ajustes*/

.titulo-our-services{
    margin: auto;
    text-align: center;
}

#about-us-text /*, .titulo-our-services h2*/{
    font-size: 6rem;
    font-weight: bold;
}

.services_individuales{
    margin-block: 1rem;
}

/*Tamaño tablet horizontal*/
@media (max-width: 1024px){
    /*Soluciona que el texto en la seccion de "About us" se desplaze hacia abajo cuando disminuye el tamaño*/
    .about-us{
        height: auto;
    }

    .division{
        height: auto;
    }

    #seccion_servicios{
        height: auto;
    }

    .services{
        height: auto;
        margin: 3rem;
    }
}

/*Tamaño tablet vertical*/
@media (max-width: 868px){
    #about-us-text{
        writing-mode: vertical-rl;
        transform: scale(-1,-1);
        flex: 2;
    }

    .division{
        display: inline;
    }
    .division h2{
        padding-left: 0;
    }
    .Servicios{
        height: auto;
        padding: 4rem;
    }
}

/*Tamaño tablet vertical - pequeño*/
@media (max-width: 768px){
    #about-us-text{
        writing-mode: lr;
        transform: scale(1,1);
    }

        /*Sección inicial*/
    /*--------------------------*/
    .divisor3{
        height: 100%;
    }
    .background-image1{
        height:auto;
    }

    .contenedor5 {
    width: fit-content;
    }

    #about-us-text {
        font-size: 4.5rem;
    }
}

/*Auxilio RAAAANDYYYYY*/
@media (max-width: 668px){
    .Servicios{
        display: block;
    }
    .Servicios h2{
        writing-mode: lr;
        transform: scale(1,1);
        text-align: center;
    }
    .font-height-large {
    font-size: 4.5rem;
    }
}

/*Tamaño movil*/
@media (max-width: 468px){
    .services{
        padding: 0;
    }

    .font-height-large {
    font-size: 3rem;
    }

    #about-us-text, .Servicios h2 {
    font-size: 3rem;
    }

    .boton{
        margin-top: 0;
    }

    .form {
    height: auto;
    }

    .campo textarea {
        margin-top: 0;
    }
    .services {
        margin: 0;
    }
    .regular-text{
        line-height: 1.6;
    }
}
